* {
    font-family: Georgia, serif;
    box-sizing: border-box;
}

h1, h2, h3
{
    font-family: Georgia, serif;
    color: red;
}

body
{
    font-family: Verdana, serif;
}

table, tr
{
    border-bottom: 1px solid black;
    width: 50%;
    text-align: left;
    border-collapse: collapse;

}

ul li
{
    background: #eb5173;
    margin: 3px;
}

a:visited
{
    color:red
}

a:hover
{
    color:pink
}

.img1 {
    float: left;
    width: 50%;
}

.img2 {
    float: right;
    width: 50%;
}

.img3 {
    float: left;
    width: 50%;
}

.img4 {
    float: right;
    width: 50%;
}

img {
    width: 400px;
    height: 250px;
}

table.table2 td:nth-child(even), table.table2 th:nth-child(even) {
    background-color: #D6EEEE;
    }